<%= form_for([@group, category, article]) do |f| %>
  <% if article.errors.any? %>
    <% article.errors.full_messages.each do |error| %>
      <%= alert_generator error%>
    <%end%>
  <% end %>
  
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Title' %>
  </div>
  
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  
   <div class="form-group">
        <%= f.text_area :body, class: 'form-control', rows: 15, id:"article-body", placeholder: 'Content' %>
  </div>
      
  <div class="form-group">
    <%= f.text_field :tag_list, value: article.tag_list.to_s, class: 'form-control', placeholder: 'Tags (separated by commas)' %>
  </div>
  
  <div class="form-group">
    <%= f.collection_select(:category_id, @group.categories, :id, :name ,{include_blank: false}, {class: 'form-control '}) %>
  </div>
  
   <div class="form-group">
    <%= f.text_field :link, class: 'form-control', placeholder: 'Link' %>
  </div>
  
   <div class="form-group">
    <%= f.text_field :jira_ticket, class: 'form-control', placeholder: 'Ticket #' %>
  </div>
  
  <div class="form-group">
    <%= f.radio_button :status, 'draft' %>
    <%= f.label :status, "Draft"%>
    
    <%= f.radio_button :status, 'published' %>
    <%= f.label :status, "Published"%>
  </div>
  
  <h2>Addtional Attachments:</h2>
  <div>
    <%= f.fields_for :article_uploads do |article_uploads_form|%>
      <%= render 'article_upload_fields', f: article_uploads_form %>
    <%end%>
  </div>
  
  <div>
    <%= link_to_add_association 'Add Attachment', f, :article_uploads, class: "btn btn-primary" %>
  </div>
      
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>