<div class="uk-section">
  <div class="uk-container">
    
    <h1>List of deleted articles for <%= @category.name.capitalize!%></h1>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Deleted by</th>
          <th>At</th>
          <th colspan="3">Bringback</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article_version| %>
          <%- article = article_version.reify %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.name %></td>
            <td><%= article.description %></td>
            <td><%= find_version_author_name(article_version) %></td>
            <td><%= article.created_at %></td>
            <td><%= link_to 'Bringback', bringback_version_path(article_version), method: 'PATCH' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
</div>