
<div class="uk-section section-sub-nav uk-padding-remove">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-2-3@m">
        <ul class="uk-breadcrumb uk-visible@m">
          <li><%= link_to "Home", root_path %> </li>
          <li><%= link_to @category.name.capitalize, group_category_path(@group, @category)%></li>
          <li><span><%= link_to @article.name, group_category_article_path(@group, @category, @article)%></span></li>
        </ul>
      </div>
      <%= render 'searchbar' %>
  </div>
   <div class="border-top"></div>
</div>

<div class="uk-section">
  <div class="uk-container">

    <h2 id="title"><%= @article.name %>
    <button class= "clipboard-btn btn btn-primary"  data-clipboard-action="copy" data-clipboard-text=<%=  group_category_article_path(@group, @category, @article,  anchor: "title")%>>
    <%= fa_icon("link")%>
    </button>
</h2>
    <h4><%= @article.description %></h4>
    <p id="content"><%= markdown @article.body %></p>
    <% if !@article.tag_list.empty? %>
      <div class="article-tags"><%= fa_icon "tags"%> <%= raw(@article.tag_list.map { |t| link_to t, tag_path(t) }.join(' '))%> </div>
    <%end%>
    Created By: <%= @article.user.name %>
    <%= distance_of_time_in_words(@article.created_at, Time.now)%> days ago
    <br>Updated <%= distance_of_time_in_words(@article.updated_at, Time.now)%> days ago
    <%= link_to fa_icon("pencil-square-o"), edit_group_category_article_path(@group, @category, @article), class: "edit", style: "color: #12B629" if logged_in?(:admin) || logged_in?(:editor) %>
    <%= link_to fa_icon("trash"), group_category_article_path(@group, @category, @article), method: :delete, data: {confirm: "Are you sure you want ro delete this post"}, class: "trash", style: "color: red" if logged_in?(:admin) || logged_in?(:editor)  %>
    <p></p>
    <% if current_user.slack_url.present?%>
      <% if current_user.voted_up_on? @article %>
        <%= link_to 'Unfollow', unfollow_group_category_article_path(@group, @category, @article), method: :put, remote: :true, class: "btn btn-primary" %>      
      <%else%>
        <%= link_to 'Follow', follow_group_category_article_path(@group, @category, @article), method: :put, remote: :true,class: "btn btn-primary" %>      
      <%end%>
    <%else%>
      <div class="alert alert-primary" role="alert">
      Add a <%= link_to 'Slack URL', edit_user_registration_path %> in order to follow this article
      </div>
    <%end%>
    <%= @versions.length  %> Versions Created

    <div class="uk-margin-medium-top border-top padding-top">
      <h3 class="uk-margin-medium-bottom">Comments</h3>
      <ul class="uk-comment-list">
        <li>
          <article class="uk-comment uk-visible-toggle">
            <div class="uk-comment-body">
              <div id="comments" data-article-id="<%= @article.id%>">
                <%= render @article.comments %>
               </div>
            </div>
          </article>
        </li>
      </ul>
  
      <div class="reply uk-margin-medium-top padding-top">
        <h3 class="uk-margin-medium-bottom">Leave a Comment</h3>
        <%= form_for @comment, url: '#' do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_area :content, class: 'form-control', placeholder: "Post a Comment", rows: "5" %>
              </div>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary myspace">Submit</button>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){  
  
    var clipboard = new Clipboard('.clipboard-btn');
    clipboard.on('success', function(e) {
    "You've successfully copied the link"
  });

  clipboard.on('error', function(e) {
    // add your custom error code here.
  });
      
  });

  </script>