<h2><%= @article.name %></h2>
<h4><%= @article.description %></h4>
<p><%= markdown @article.body %></p>
Created by: <%= @article.user.email %>
<%= distance_of_time_in_words(@article.created_at, Time.now)%> days ago
<%= link_to fa_icon("pencil-square-o"), edit_category_article_path(@category, @article), class: "edit" %>
<%= link_to fa_icon("trash"), category_article_path(@category, @article), method: :delete, data: {confirm: "Are you sure you want ro delete this post"}, class: "trash" %>