
<nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <%= link_to "KnowledgeBase", group_path(@group), class:"uk-navbar-item uk-logo uk-text-uppercase uk-margin-small-right" %>
      </div>
        <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-text-uppercase uk-visible@m uk-margin-medium-left">
          <li><%= link_to "Home", group_path(@group)%></li>
          <li>
            <li><%= link_to "Categories", group_path(@group)%>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <% @group.categories.each do |category|%>
                    <li><%= link_to category.name, group_category_path(@group, category) %></li>
                  <%end%>
                </ul>
              </div> 
            </li>
            <% if !(current_page?(group_categories_path(@group)))%>
              <% if !(current_page?(root_path))%>
                <% if  !(current_page?(myarticles_path)) && @category.present? %>
                  <li><%= link_to "Create New Article", new_group_category_article_path(@group, @category) %></li>
                  <li><%= link_to "Deleted Articles",  deleted_group_category_articles_path(@group, @category, @articles)%></li>
                <%end%>
              <%end%>
            <%end%>
          <% if current_user %>
            <li><%= link_to "My Articles", group_myarticles_path(@group) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <%else%>
            <li><%= link_to  "Login", new_user_session_path %></li>
          <%end%>
        </ul>
        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
      </div>
    </div>
  </div>
</nav>