<div class="uk-section">
     <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <h3 class="text-center text-label">LOGIN</h3>
                        <div class="form-group">
                          <%= f.label :email, class: 'text-label' %><br />
                          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                         <%= f.label :password, class: 'text-label' %><br />
                         <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                        </div>
                        
                        <div class="form-group">
                          <% if devise_mapping.rememberable? -%>
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me,  class: "text-label" %><br>
                          <% end -%>
                          <%= f.submit "Login", class: 'btn btn-light' %><br>
                        </div>
                        <div id="register-link" class="text-right text-label">
                             <%= render "devise/shared/links" %>
                        </div>
                      <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>