<div class="uk-section section-sub-nav uk-padding-remove">
  <div class="uk-container">
    <h1>Articles</h1>
    
    
    <% @articles.each do |article|%>
      <h2><%= article.name %></h2>
      <h4><%= article.description %></h4>
      <p><%= markdown article.body %></p>
      Created by: <%= article.user.email %>
    <%end%>
    <%= paginate @articles %>
  </div>
</div>