<div class="uk-section section-sub-nav uk-padding-remove">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-2-3@m">
        <ul class="uk-breadcrumb uk-visible@m">
          <li><%= link_to "Home", root_path %> </li>
          <li><span><%= link_to @category.name.capitalize, group_category_path(@group, @category)%></span></li>
        </ul>
      </div>
      <%= render 'categories/searchbar' %>
    </div>
    <div class="border-top"></div>
  </div>
</div>

<div class="uk-section uk-section-small uk-padding-remove-bottom section-content">
  <div class="uk-container uk-position-relative">
    <div uk-grid>
      <div class="uk-width-3-4@m">
        <article class="uk-article">
          <header>
            <h1 class="uk-article-title uk-margin-bottom"><%= @category.name.capitalize%> Articles</h1>
          </header>
          <% @articles.each do |article|%>
          <h2 id=<%= "article-#{article.id}"%>><%= link_to article.name, group_category_article_path(@group, @category, article) %> 
            <%= link_to fa_icon("link"), group_category_path(@group, @category,  anchor: "article-#{article.id}")%>
          </h2>
          <h4><%= article.description %></h4>
          <% if !article.tag_list.empty? %>
            <div class="article-tags"><%= fa_icon "tags"%> <%= raw(article.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %></div>
          <%end%>
          Created by: <%= article.user.email %>
          <hr>
          <%end%>
          <br>
          <%= paginate @articles %>
        </article>
      </div>
    </div>
  </div>
</div>
