<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="assets/js/uikit.js"></script>
    <script src="assets/js/uikit-icons.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    
  </head>
  
  <body>
    <% if !current_page?(new_user_session_path)%>
      <div class="section-hero uk-background-blend-color-burn uk-background-top-center uk-background-cover uk-section-large1 cta" style="background-image: url(app/assets/images/city.jpg)" >
        <%= render "shared/application_nav" %>
        <% if current_page?(groups_path) || current_page?(group_path(@group)) || current_page?(root_path)%>
         <%= render "shared/jumbotron" %>
        <%end%>
      </div>
    <%else%>
      <div class="section-hero uk-background-blend-color-burn uk-background-top-center uk-background-cover uk-section-large1 cta" style="background-image: url(app/assets/images/city.jpg)" >
        <nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light"></nav>
        <div class="uk-container">
          <div uk-navbar>
            <div class="uk-navbar-left">
              <%= link_to "KnowledgeBase", "", class:"uk-navbar-item uk-logo uk-text-uppercase uk-margin-small-right" %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <%= yield %>
    <%= alerts%>
    <%= render "shared/footer" %>
  </body>
</html>

<script>
  $(document).ready(function() {
    var simplemde;
    return new SimpleMDE({ element: document.getElementById("article-body") });
  
    var clipboard = new Clipboard('.clipboard-btn');

  });
</script>
